@font-face{
	font-family: Wendy;
	src: url(https://github.com/indieby/indieby.github.io/raw/master/fonts/wendy.ttf);
}

      
body{	
	cursor: default;
	font-family: Wendy, Sans-Serif;
	font-size: 30pt;
	min-height: 1px;
	color: rgba(1, 1, 1, 0.8);
	background-color: rgb(240, 240, 255);
}

div{
	display: block;
	width: auto;
}
h1{	
	font-size: 48pt;	
}

h1, h2, h3{
	margin: 0px;
	color: rgba(1, 1, 1, 1);
}

p{
	margin: 0px;
}

a:hover{
	cursor: pointer;
}

.c-wrap{
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	background-color: white;
	padding: 10px;
}

.download-link{
	position: relative;
	top: 20%;
	text-align:center;
	display: none;
}

.c-head{
	border-radius: 5px;
	height: 100px;
	background: url(https://github.com/indieby/indieby.github.io/raw/master/images/header.png);
}

.c-logo{
}

.c-content{
	background-color: white;
}

.c-left{
	float: left;
	padding: 160px 1% 10px 2%;
	width: 27%;
	min-width: 210px;
	font-size: 22pt;
}

.c-center{
	float: left;
	padding: 10px 1% 10px 3%;
	width: 66%;
}

.c-footer{
	clear: both;
	text-align: center;
	font-size: 20px;
	padding: 160px 0px 0px 0px;
}

@media only screen and (max-width: 850px) {
	.c-content{
		padding: 160px 1% 10px 1%;
		width: 98%;
		line-height: 1;
	}
	
	.c-left{
		display: none;
	}
}