@font-face
{
font-family: Wendy;
src: url(https://github.com/indieby/indieby.github.io/raw/master/fonts/wendy.ttf);
}

      
body{
	cursor: default;
	font-family: Wendy;
	font-size: 30pt;
	min-height: 1px;	
}

div{
	display: block;
	width: auto;
}
h1{
	font-size: 48pt;
}
a:hover{
	cursor: pointer;
}

.wrap{
	width: 80%;
	max-width: 960px;
	margin: 20px auto;
}

.download-link{
	position: relative;
	top: 20%;
	text-align:center;
	display: none;
}